<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Netflix is an American subscription video on-demand over-the-top streaming service. The
          service primarily distributes original and acquired films and television shows from various genres, and it is
          available internationally in multiple languages. Launched on January 16, 2007, nearly a decade after Netflix,
          Inc. began its pioneering DVD‑by‑mail movie rental service. </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Help</h6>
        <ul class="footer-links">
          <li><a href="https://help.netflix.com/en/node/412">FAQ</a></li>
          <li><a href="https://help.netflix.com/legal/privacy">Privacy</a></li>
          <li><a href="https://help.netflix.com/en/">Help Center</a></li>
          <li><a href="https://ir.netflix.net/ir-overview/profile/default.aspx">Investor Relations</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Essentials</h6>
        <ul class="footer-links">
          <li><a href="https://help.netflix.com/legal/termsofuse">Terms of Use</a></li>
          <li><a href="https://help.netflix.com/en/contactus">Contact Us</a></li>
          <li><a href="https://media.netflix.com/en/">Media Center</a></li>
          <li><a href="https://jobs.netflix.com/">Jobs</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="https://github.com/leksokashia">Lekso</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/netflix/"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter"
              href="https://twitter.com/netflix?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="https://dribbble.com/search/netflix"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/company/netflix/"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>