img{
  width: 100%;
  height: auto;
}

h1
{
  color: #ffffff;
  font-weight: bold;
}

p{
  color: #ffffff;
}

a{
  background-color: #E50914;
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  background-color: #E50914;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.contain{
  background: linear-gradient(97deg, #45172B 1.27%, #120C1F 75.23%);
  height: 100vh;
  overflow-y: auto; /* Add this line to enable vertical scrolling if the content overflows */
  overflow-x: hidden; /* Hide horizontal overflow */

}